#quote {
	width:600px;
	height:600px;
	text-align:center;
	margin:auto;
}

.col-left {
	text-align:right;
}

.col-right {
	text-align:left;
	display:block;
}

.col-middle {
	text-align: center;
}

.share-button-box {
	text-align:center;
	
	color:#fff;
	padding:10px;
	cursor:pointer;
	font-family:bree;
}

.share-button-box:last-child {
	border-bottom:0px;
}

.share-button-box:hover {
	color:rgba(255,255,255,.5);
}

.share-button-box i {
	font-size:32px;
	display:block;
}

.header {
	padding-bottom:10px;
}

.logo {
	height:100px;
	width:auto;
}

.candidates {
	text-align:center;
	margin:15px 0px 10px 0px;
}

.candidate-button {
	padding:5px 10px;
	text-align:center;
	display:inline-block;
	cursor:pointer !important;
	font-family:bree;
}

.candidate-button:hover {
	opacity:.7;
}

.candidate-button.active {
	border-radius:5px;
	background:rgba(255,255,255,.1);
	opacity:1 !important;
	cursor:default !important;
}

.candidate-button.active img {
	
}

.candidate-button:last-child {
	border-bottom:0px;
}


.candidate-button img {
	width:50px;
	height:50px;
	border-radius:50%;
	display:block;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);

}

.candidate-button img :active {
	box-shadow: 0px !important;
	
}

.democrat {
	border-color:#00519a;
}

.republican img {
	border-color:#d03227 !important;
}

.btn {
	font-family:chunkFive;
	font-size:24px !important;
}

body {
	background:#00396b !important;
	/*background:#b32c22 !important;*/
}

body.democrat {
	background:#004480 !important;
}

body.republican {
	background:#b32c22 !important;
}


.container {
	padding-top:20px;
	text-align:center;
	color:#fff;
	max-width:970px !important;
}

.btn {
	margin-top:10px;
}

#defaultCanvas0 {
	border-radius:10px;
}

.img-overlay {
	position:absolute;
	width:calc(100% - 30px);
	height:100%;
	background:rgba(255,255,255,.5);
	border-radius:10px;
	display: flex;
  align-items: center;
  justify-content: center;
  font-size:64px;
  text-shadow: 2px 2px 2px rgba(0,0,0,.8);
}

@font-face {
    font-family: chunkFive;
    src: url(fonts/chunkfive.otf);
}

@font-face {
    font-family: andada;
    src: url(fonts/andada.otf);
}

@font-face {
    font-family: bree;
    src: url(fonts/bree.otf);
}