#quote {
	width:600px;
	height:600px;
	text-align:center;
	margin:auto;
}

.col-left {
	text-align:right;
}

.col-right {
	display:block;
}

.col-middle {
	text-align: center;
}

.share-button-box {
	text-align:center;
	border-bottom:1px solid #474763;
	color:#fff;
	padding:10px;
	cursor:pointer;
}

.share-button-box:last-child {
	border-bottom:0px;
}

.share-button-box:hover {
	color:#474763;
}

.share-button-box i {
	font-size:32px;
	display:block;
	
}

.header {
	padding-bottom:10px;
}

.logo {
	height:100px;
	width:auto;
}

.candidates {
	text-align:center;
	padding-top:10px;
}

@media(min-width:992px){
		.candidates {
			padding-top:0px;
			text-align:right;
		}
	}

.candidate-button {
	padding:10px;
	text-align:center;
	display:inline-block;
	cursor:pointer !important;
	font-family:chunkFive;
}

.candidate-button:last-child {
	border-bottom:0px;
}


.candidate-button img {
	width:50px;
	height:50px;
	border-radius:50%;
	display:block;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
	border:3px solid #00519a;
}

.candidate-button img :active {
	box-shadow: 0px !important;
}

.democrat {
	border-color:#00519a;
}

.republican img {
	border-color:#d03227 !important;
}

.btn {
	font-family:chunkFive;
	font-size:24px !important;
}

body {
	background:#00519a !important;
	background:#99251d !important;
}

.container {
	padding-top:20px;
	text-align:center;
	color:#fff;
	max-width:970px !important;
}

.btn {
	margin-top:10px;
}

#defaultCanvas0 {
	border-radius:10px;
}

@font-face {
    font-family: chunkFive;
    src: url(fonts/chunkfive.otf);
}